In [2]:
import gymnasium as gym
from gymnasium import spaces
import numpy as np
import pandas as pd

In [26]:
from bracket import main,convert_tournament_format

In [ ]:
tournament_games = pd.DataFrame(main())
convert_tournament_format(tournament_games)

NCAA March Madness Tournament Simulation
=======================================

Simulation complete!
Total games recorded: 63
{'team1': '17', 'team2': '33', 'seed_team1': 1, 'seed_team2': 1, 'odds_team1': 0.5, 'team1_win': 1, 'tournament_round': 5, 'day': 1}

   teamname  teamseed  playable      odds  match no
0         1         1         1  0.986842         1
1         2         2         1  0.927632         4
2         3         3         0  0.000000         0
3         4         4         0  0.000000         0
4         5         5         0  0.000000         0
..      ...       ...       ...       ...       ...
59       60        12         1  0.348684        14
60       61        13         1  0.210526        15
61       62        14         0  0.000000         0
62       63        15         0  0.000000         0
63       64        16         0  0.000000         0

[64 rows x 5 columns]

In [24]:
tournament_games

,team1,team2,seed_team1,seed_team2,odds_team1,team1_win,tournament_round,day
0,1,16,1,16,0.986842,1,0,1
1,8,9,8,9,0.486842,1,0,2
2,5,12,5,12,0.651316,0,0,2
3,4,13,4,13,0.789474,0,0,2
4,6,11,6,11,0.618421,1,0,1
...,...,...,...,...,...,...,...,...
58,51,50,3,2,0.364486,1,2,2
59,53,51,5,3,0.346154,1,3,2
60,2,17,2,1,0.260000,0,4,1
61,33,53,1,5,0.902439,1,4,1
62,17,33,1,1,0.500000,1,5,1

In [12]:
df

     team  seed      odds  day  tournament_round  opponent
0      40     8  0.486842    1                 0        41
1      40     8  0.111111    1                 1        33
2      33     1  0.888889    1                 1        40
3      42    10  0.388158    1                 0        39
4      39     7  0.611842    1                 0        42
..    ...   ...       ...  ...               ...       ...
121     5     5  0.106195    2                 2         1
122    43    11  0.381579    2                 0        38
123    38     6  0.618421    2                 0        43
124    34     2  0.347826    2                 3        33
125     1     1  0.986842    2                 0        16

[126 rows x 6 columns]

In [15]:
for r in df['tournament_round'].sort_values().unique():
    for day in df.query(f"tournament_round == {r}")['day'].unique():
        round_df = df.query(f"tournament_round == {r} and day == {day}")
        print(f"Round {r} - Day {day}")
        # print(round_df)

Round 0 - Day 1
Round 0 - Day 2
Round 1 - Day 1
Round 1 - Day 2
Round 2 - Day 1
Round 2 - Day 2
Round 3 - Day 1
Round 3 - Day 2
Round 4 - Day 1
Round 5 - Day 1

In [16]:
from marchMadnesenv import MarchMadnessEnv

In [19]:
round_df

    team  seed      odds  day  tournament_round  opponent
8      1     1  0.827586    1                 5        50
43    50     2  0.172414    1                 5         1

In [10]:
env = MarchMadnessEnv(teams_df=round_df, render_mode='human')

ValueError: Teams DataFrame must have exactly 64 rows.